server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hr_management
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    contexts: dev

  logging:
    config: classpath:logback-spring.xml

  elasticsearch:
    uris: http://localhost:9200
    username: elastic
    password:

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    serialization:
      write-dates-as-timestamps: false
    mapper:
      accept-case-insensitive-enums: true

  springdoc:
    api-docs:
      enabled: true
    swagger-ui:
      enabled: true